[Unit]
Description=Postgres Service
After=docker.service
Requires=docker.service

[Service]
Restart=always

ExecStartPre=-/usr/bin/docker stop -t 2 %n || true
ExecStartPre=-/usr/bin/docker rm %n || true
ExecStartPre=/usr/bin/docker pull {{db_docker_image}}
ExecStartPre=/usr/bin/docker create  \
    --network {{pg_network}} \
	-v {{pg_volume}}:/pgdata \
	-e TEMP_BUFFERS=9MB \
	-e PGHOST=/tmp \
	-e MAX_CONNECTIONS=101 \
	-e SHARED_BUFFERS=129MB \
	-e MAX_WAL_SENDERS=7 \
	-e WORK_MEM=5MB \
	-e PG_MODE=primary \
	-e PG_PRIMARY_PORT=5432 \
	-e PG_PRIMARY_USER={{pg_primary_user}} \
	-e PG_PRIMARY_PASSWORD={{pg_primary_password}} \
	-e PG_USER={{pg_user}} \
	-e PG_PASSWORD={{pg_password}} \
	-e PG_ROOT_PASSWORD={{pg_root_password}} \
	-e PG_DATABASE={{pg_database}} \
    --name %n \
    {{db_docker_image}}
ExecStart=/usr/bin/docker start -a %n

ExecStop=/usr/bin/docker stop -t 2 %n
ExecStopPost=/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target
